*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --font:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --white: #FFE;
    --offWhite: #EEF3FF;
    --lightBlue: #D7E9FF;
    --lightGrey: #b8c0ca;
    --darkGrey: #3D4249;
    --borderRadius: 10px;
    --border: 1px solid var(--lightGrey);
}
h1, h2{
    font-family: var(--font);
    font-size: 3.5em;
    font-weight: bold;
    color: var(--darkGrey);
}
h3, h4{
    font-family: var(--font);
    font-size: 2.5em;
    color: var(--darkGrey);

}
h5, h6{
    font-family: var(--font);
    font-size: 1.5em;
    color: var(--lightGrey);
}
button{
    padding: 1em;
    border-radius: var(--borderRadius);
    background-color: var(--lightBlue);
    color: var(--darkGrey);
    border: none;
}
button:hover{
    background-color: var(--darkGrey);
    color: var(--lightBlue);
    border-radius: 2px;
}
input{
    border: var(--border);
    border-radius: var(--borderRadius);
    padding: 1em;
    margin-right: 1em;
}
nav{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 box-shadow: 2px 2px 2px var(--lightGrey);
 padding: 1em;
}
/* Main Content Setup */
.main{
    display: flex;
    width: 100vw;
    padding: 0.5em;
}
.mainContent{
    height: 100vh;
    width: 65vw;
}
.subContent{
    margin-left: 2em;
    height: 100vh;
    width: 30vw;
}
/* Each Article */
.article{
  margin-top: 1em;
  border: var(--border);
  padding: 0.5em;
  height: 20%;
  box-shadow: 1px 1px 3px 0px var(--lightGrey);
  border-radius: var(--borderRadius);
}
.singleArticle{
    border: 2px solid orange;
}

.subContent{
    margin-top: 1em;
    padding: 0.2em;
    border: 2px solid pink;
}
.eachSubreddit{
    padding: 0.5em;
    border: 2px solid green;
    justify-content: space-between;
}